<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">alpha2Code</th>
        <th scope="col">alpha3Code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>   
        <td>Dominican Republic</td>
        <td>DO</td>
        <td>DOM</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>New Zealand</td>
        <td>NZ</td>
        <td>NZL</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Thailand</td>
        <td>TH</td>
        <td>THA</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>United States of America</td>
        <td>US</td>
        <td>USA</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Puerto Rico</td>
        <td>PR</td>
        <td>PRI</td>
      </tr>
    </tbody>
  </table>